body {
background: #ffffff;
padding: 0px;}

.rightrail {
width: 200px;
height: 320px;
float:  right;
top: 50%;
background-color: #ffffff;
padding: 10px;}

#container{
position: absolute;
left: 50%;
top: 50%;
height: 575px;
margin-top: -287.5px;
width: 800px;
margin-left: -400px;
background: #ffffff;}

#container1{
height: 320px;
width: 800px;
left: 0px;
background: #FFFFFF;
border-bottom: 2px solid #FF5050;
border-top: 2px solid #FF5050;
text-align: left;}

#container2{
height: 575px;
width: 570px;
background: #FFFFFF;
text-align: left;
float: left;
padding: 5px;
}

#container3{
height: 780px;
width: 200px;
background: #FFFFFF;
text-align: left;
float: right;
border-bottom: 2px solid #FF5050;
border-top: 2px solid #FF5050;
border-left: 2px solid #FF5050;
border-right: 2px solid #FF5050;
padding: 4px;
}

a {color:#FF5050 /*#4AB893*/; text-decoration: none; font-weight: 200;}
a:hover {color:#FF0000; text-decoration: underline; font-weight: 200;}

h1.banner {
background: #ffffff;
color: #FF5050;
font-family: Optima;
font-size: 45px;
text-align: center;}

h2 {
background: #ffffff;
color: #FF5050;
font-family: Palatino;
text-align: center;
}

h3 {
color: #000000;
font-family: Optima;
font-size: 17px;
text-align: center;}

h3.qud {
background: #ffffff;
color: #FF5050;
font-family: Palatino;
text-align: left;
}

h4 {
color: #000000;
font-family: Optima;
font-size: 17px;
}

.information {
position:right;
padding: 10px 20px 0px 0px;
text-align: right;
font-family: Century Gothic;
font-size: 13px;}

.maillist{
position:right;
padding: 0px 0px 0px 0px;
text-align: right;
font-family: Palatino;
font-size: 10px;}

.bodytext{
padding: 10px 20px 0px 20px;
text-align: left;
position: left;
font-family: Optima;
font-size: 14px;
height: 310px;
overflow:scroll;
overflow-x:hidden;}

.bodytext1{
padding: 10px 20px 0px 20px;
text-align: left;
position: left;
font-family: Optima;
font-size: 17px;
}

.photos{
float: left;
padding: 10px 0px 0px 20px;}

.hidden { display: none; }
.unhidden { display: block; }

div.navbar ul {
     padding: 0px 20px 0px 0px;
     font-family: Palatino;
     text-decoration: underline;
     color: #FF5050;
     font-size: 15px;
     text-align: right;}

div.navbar li {
list-style-type: none;
display: inline;
padding: 0px 0px 0px 20px;}
